[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlalchemy = "*"
coverage = "*"
python-dotenv = "*"
pytest = "*"
setuptools = "*"

[dev-packages]
coverage-badge = "*"

[requires]
python_version = "3.11"
